/// <reference path="../../main.scss" />
////
// TRANSFORMATIONS
////

// ----------------------------------------------------

@mixin transform($rotate: 90deg, $scale: 1, $skew: 1deg, $translate: 10px) {
    transform: rotate($rotate) scale($scale) skew($skew) translate($translate);
}

@mixin scale($factor: 1.05) {
    transform: scale($factor);
}

@mixin rotate($deg: 90deg) {
    transform: rotate($deg);
}

@mixin skew($deg: 10deg, $deg2: 10deg) {
    transform: skew($deg, $deg2);
}

@mixin translate-x($length: 50%) {
    transform: translateX($length);
}

@mixin translate-y($length: 50%) {
    transform: translateY($length);
}
