<p>
    <em>Example accordion (Javascript and functionality not yet added, so it doesn't yet work):
        <br />
        <a href="https://inclusive-components.design/collapsible-sections/" rel="noopener" target="_blank">https://inclusive-components.design/collapsible-sections/</a>
    </em>
</p>

<section class="c-accordion">
    <h2 class="c-accordion__title">Section Title</h2>
    <div class="c-accordion__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo purus quis mi cursus hendrerit eu eu metus. Aliquam aliquam arcu eget aliquet scelerisque. Pellentesque sodales turpis vitae venenatis vehicula. Ut id porta velit. Ut eu dignissim dui, quis gravida est. Cras quis venenatis mauris, a bibendum enim. Sed at augue libero. Nullam tortor metus, tincidunt ut urna id, posuere placerat orci. Ut quis risus dictum risus facilisis imperdiet quis sed eros.
        </p>
    </div>
</section>
