<!--<p>
    <em>(Add comments here if necessary):</em>
</p>-->
<br />

<section class="o-cta--triple">
    <div class="o-cta o-cta--primary c-cta c-cta--one">
        <a class="c-cta" href="#" title="CTA Primary">
            <span>CTA Primary</span>
            <img src="http://pic.jcmserv3.net/64/000/fff.png&text=CTA+Icon" class="o-cta__image c-cta__image" />
        </a>
    </div>

    <div class="o-cta o-cta--primary c-cta c-cta--two">
        <a class="c-cta" href="#" title="CTA Primary">
            <span>CTA Primary</span>
            <img src="http://pic.jcmserv3.net/64/000/fff.png&text=CTA+Icon" class="o-cta__image c-cta__image" />
        </a>
    </div>

    <div class="o-cta o-cta--primary c-cta c-cta--three"> 
        <a class="c-cta" href="#" title="CTA Primary">
            <span>CTA Primary</span>
            <img src="http://pic.jcmserv3.net/64/000/fff.png&text=CTA+Icon" class="o-cta__image c-cta__image" />
        </a>
    </div>
</section>
