<div class="o-contactinfo">
    <div class="o-contact">
        <ul class="o-l o-l--horizontal">
            <li>Email<br />
            info@brandontrust.org</li>
            <li>Telephone<br />
            0117 907 7200</li>
            <li>Minicom<br />
            0117 931 5000</li>
        </ul>
    </div>
    <div class="o-social">
        <ul class="o-l o-l--horizontal">
            <li>social</li>
            <li>social</li>
            <li>social</li>
            <li>social</li>
            <li>social</li>
        </ul>
    </div>
</div>
