<div class="o-g__full o-g__full--header">
    <div class="o-g__outer o-header">
        <div class="o-logo"><img src="http://pic.jcmserv3.net/236x84/43ba04/fff&text=Brandon+Logo" width="236" height="84" alt="Brandon Logo" /></div>
        <div class="o-search"><input type="search" placeholder="Search" size="3"></div>
        <div class="o-cta--0"><img src="http://pic.jcmserv3.net/130x130/db00db/ffffff.png&text=+Donate" width="130" height="130" alt="Donate" /></div>
    </div>

    {% include brandon/o-nav.html %}

</div>
