<ul class="o-l o-l--newslist">
    <li class="o-l__item c-newsarticle c-newsarticle--mini">
        <img class="c-newsarticle__img" src="http://pic.jcmserv3.net/200x130/707070/fff.png&text=+News+" width="200" height="130" alt="News" />
        <div class="c-newsarticle__body">Our survey says… See the results of our annual satisfaction survey</div>
    </li>
    <li class="o-l__item c-newsarticle c-newsarticle--mini">
        <img class="c-newsarticle__img" src="http://pic.jcmserv3.net/200x130/707070/fff.png&text=+News+" width="200" height="130" alt="News" />
        <div class="c-newsarticle__body">Our survey says… See the results of our annual satisfaction survey</div>
    </li>
</ul>