<div class="o-g__full o-g__full--twitter">
    <div class="o-g__outer o-twitter">
        <div class="o-tweet c-tweet">
            <h3 class="c-tweet__title">Brandon Trust @BrandonTrust</h3> - 11 hours ago
            <div class="c-tweet__body">
                <p>The health of each and every one of us is important #LearningDisabilities #HealthInequality https://t.co/pPCnnFFxQI</p>
            </div>
            <p>Follow us on Twitter</p>
        </div>
        <div class="o-cta o-cta--4"><img src="http://pic.jcmserv3.net/500x120/005c99/fff.png&text=+++Sign+up+++" width="500" height="120" alt="Sign up" /></div>
    </div>
</div>
