/// <reference path="../main.scss" />

// This is appended to start of the theme names, eg "t-yellow"
$SITE-Themeclass:               ".t-";

// SITE THEMES
// Basic contrast levels = 4.5
// eg, text should be "soft black" on #dc341e (orange)
// For other projects, we could reduce constrast to 3 simply to fudge it to meet designs
// But I'd strongly argue the chosen design colours aren't contrasty enough
// and not recommended because it's difficult to read

// Ideally, the designs would use colours that already have sufficient contrast
// we shouldn't need to calculate a good contrast value.
// Alternative is to provide a more-contrasty theme, switchable in the footer.

$SITE-Themes: (
    yellow: (
        primary: $COLOR-Yellow,
        primaryalt: contrast-threshold($COLOR-Yellow, 4.5),
        texture: "1.png",
        textureratio: 1.6,
        texturesize: 420 326,
        textureopacity: 0.2
    ),
    darkblue: (
        primary: $COLOR-BlueDark,
        primaryalt: contrast-threshold($COLOR-BlueDark, 4.5),
        texture: "2.png",
        textureratio: 1.4,
        texturesize: 300 301,
        textureopacity: 0.5
    ),
    turquoise: (
        primary: $COLOR-Teal,
        primaryalt: contrast-threshold($COLOR-Teal, 4.5),
        texture: "3.png",
        textureratio: 1.6,
        texturesize: 600 385,
        textureopacity: 0.5
    ),
    lightblue: (
        primary: $COLOR-BlueLight,
        primaryalt: contrast-threshold($COLOR-BlueLight, 4.5),
        texture: "4.png",
        textureratio: 1.62,
        texturesize: 50 50,
        textureopacity: 0.3
    ),
    red: (
        primary: $COLOR-Red,
        primaryalt: contrast-threshold($COLOR-Red, 4.5),
        texture: "5.png",
        textureratio: 1.8,
        texturesize: 315 315,
        textureopacity: 0.7
    ),
    orange: (
        primary: $COLOR-Orange,
        primaryalt: contrast-threshold($COLOR-Orange, 4.5),
        texture: "6.png",
        textureratio: 1.7,
        texturesize: 102 102,
        textureopacity: 0.1
    ),
    violet: (
        primary: $COLOR-Purple,
        primaryalt: contrast-threshold($COLOR-Purple, 4.5),
        texture: "7.png",
        textureratio: 1.22,
        texturesize: 420 420,
        textureopacity: 0.4
    ),
    green: (
        primary: $COLOR-Green,
        primaryalt: contrast-threshold($COLOR-Green, 4.5),
        texture: "8.png",
        textureratio: 1,
        texturesize: 1 1,
        textureopacity: 1
    ),
    blue: (
        primary: $COLOR-Blue,
        primaryalt: contrast-threshold($COLOR-Blue, 4.5),
        texture: "9.png",
        textureratio: 2,
        texturesize: 102 102,
        textureopacity: 0.3
    )
);

$SITE-Themes--search: (
    search: (
        primary: $COLOR-Blue,
        primaryalt: contrast-threshold($COLOR-Blue, 4.5),
        texture: "10.png",
        textureratio: 2,
        texturesize: 102 102,
        textureopacity: 0.3
    )
);

// Used if we implement an accessibility control panel
$A11Y-Themeclass:               ".t-ally--";

/// All accessibility body theme colours
$A11Y-Themes: (
    highcontrast: (
        primary: $COLOR-GreyDarkest,
        primaryalt: $COLOR-GreyLightest,
        img: null
    ),
    blu: (
        primary: $COLOR-A11y-Blue,
        primaryalt: $COLOR-Black,
        img: invert(100%)
    ),
    cream: (
        primary: $COLOR-A11y-Cream,
        primaryalt: $COLOR-Black,
        img: invert(100%)
    )
);

///
/// This was from FFl - may be better way or doing or simplify for future use...
///

// $colourscheme2: (
//     "hi": (
//         "primary": $COLOR-Red
//     ),
//     "bl": (
//         "primary": $COLOR-YellowDark
//     ),
//     "cr": (
//         "primary": $COLOR-TealDark
//     )
// );

/// We're only using green, red, teal and yellow in BODY page themes.
/// However, individual modules may use the grey and white schemes
/// Grey and white are also used for individual modules (eg, formtheme-white)
// $colourscheme3: (
//     "hi": (
//         "link": (
//             "col": $COLOR-Red,
//             "bg": red
//         ),
//         "tabs": (
//             "col": $COLOR-White,
//             "bg": $COLOR-Red,
//             "contentbg": $COLOR-RedLight,
//             "button": red
//         )
//     ),
//     "bl": (
//         "link": (
//             "col": $COLOR-YellowDark,
//             "bg": yellow
//         ),
//         "tabs": (
//             "col": $COLOR-White,
//             "bg": $COLOR-YellowDark,
//             "contentbg": $COLOR-YellowLight,
//             "button": yellow
//         )
//     ),
//     "cr": (
//         "link": (
//             "col": $COLOR-TealDark,
//             "bg": teal
//         ),
//         "tabs": (
//             "col": $COLOR-White,
//             "bg": $COLOR-TealDark,
//             "contentbg": $COLOR-TealLight,
//             "button": teal
//         )
//     )
// );
