/// <reference path="../main.scss" />

////
/// VARIABLES - Basic Template
/// Optionally override any !defaults (globally)
////

// DEBUG (check for missing alt, empty elements, depreciation)
// ----------------------------------------------------
$DEBUGGER: 						        false;
$A11YDEBUG: 					        false;

// Thing to query the @Supports with
// If we use the variable, we can globally "remove" flexbox or grid in order to test older browsers
$SUPPORTS-flex:                         wrap;//@supports (flex-wrap: $SUPPORTS-flex) {...}
$SUPPORTS-grid:                         grid;//@supports (display: $SUPPORTS-grid) {...}
$BOOL-flexsupport:                      true;
$BOOL-cssgridsupport:                   true;

/// Custom GirlGuides Colours
// ----------------------------------------------------

// Primary colours:            
$COLOR-GG-Blue:                rgba(62, 118, 186, 1);// 1, 0.05, 0.5, 0.2 // Cookies agree, logo // 0.05 bg on active inputs, 0.5 text// Pagination border (0.5)
$COLOR-GG-Pink:                rgba(196, 0, 99, 1);// pink
$COLOR-GG-GreyDark:            rgba(50, 50, 50, 1); // nav col, main body col
$COLOR-GG-Grey:                rgba(120, 120, 120, 1);// NOT OFFICIAL, search box text and lighter text for notes below inputs
$COLOR-GG-GreyLight:           rgba(167, 169, 172, 1);// input box border, inactive input actions (down arrow), table border, // pagination border(0.5)
$COLOR-OFFICIAL-Grey:          rgba(211, 212, 214, 1);// offical colour, but not used in Sketch mockups
$COLOR-GG-GreyLighter:         rgba(238, 238, 238, 1);// NOT OFFICIAL, faint horizontal line above nav and between basket items
$COLOR-GG-GreyLightest:        rgba(245, 245, 245, 1);// NOT OFFICIAL, lightgrey for noticebar, majority of all light-grey backgrounds

// Secondary colours:          
$COLOR-GG-Teal:                rgba(0, 131, 145, 1);// custom header bar rangers
$COLOR-GG-Purple:              rgba(139, 82, 161, 1);// 0.1 // footergradient-0.85 //custom header bar gifts
$COLOR-GG-Orange:              rgba(247, 142, 30, 1);// custom header bar badges
$COLOR-GG-Green:               rgba(114, 191, 68, 1);//
$COLOR-GG-GreenBright:         rgba(0, 200, 83, 1);//cookie policy switch 
$COLOR-GG-Yellow:              rgba(255, 212, 0, 1);// basket icon num bg
$COLOR-GG-Red:                 rgba(220, 52, 30, 1);// 0.1 // custom header bar trefoil // form error border
$COLOR-GG-RedBright:           rgba(255, 23, 68, 1);//cookie policy switch 
$COLOR-GG-BlueDark:            rgba(0, 114, 188, 1);// custom header bar guides
$COLOR-GG-BlueMid:             rgba(109, 144, 186, 1); // Table Header border color 
$COLOR-GG-BlueLight:           rgba(162, 212, 237, 1);// custom light blue

/// DEFAULT COLOURS
// ----------------------------------------------------
$COLOR-Primary:                 $COLOR-GG-GreyDark;
$COLOR-Secondary:               $COLOR-GG-Pink;
$COLOR-Tertiary:                $COLOR-GG-Blue;
$COLOR-Accent:                  $COLOR-GG-Purple;
$COLOR-Base:                    $COLOR-GG-GreyDark;
$COLOR-BaseLight:               $COLOR-GG-GreyLightest;
$COLOR-BaseDark:                $COLOR-Primary;

$planifolia-contrast-dark-default:  $COLOR-GG-GreyDark;
$planifolia-contrast-light-default: $COLOR-White;

// TYPOGRAPHY
// ----------------------------------------------------
$TYPE-FontSize:                 15;
$TYPE-LineHeight:               $TYPE-FontSize * 1.6;// 24
$TYPE-FONT-Weight:              400;

// Wide Fonts - Larger x-height, so appear wider and taller
$TYPE-FONT-SansSerifWide:       Verdana, Geneva, sans-serif;
$TYPE-FONT-SerifWide:           Georgia, Utopia, Charter, serif;
// Narrow Fonts - More traditional, with smaller x-height
$TYPE-FONT-SansSerifNarrow:     'Trebuchet MS', Helvetica, Arial, sans-serif;
$TYPE-FONT-SerifNarrow:         'Times New Roman', Times, serif;

$TYPE-FontFamily:               $TYPE-FONT-SansSerifNarrow;
$TYPE-AltFontFamily:            $TYPE-FONT-SansSerifNarrow;
$TYPE-HeadingsFontFamily:       $TYPE-FONT-SansSerifNarrow;
$TYPE-HeadingsAltFontFamily:    $TYPE-FONT-SansSerifNarrow;

$TYPE-FontColor:                $COLOR-Primary;
$TYPE-AltFontColor:             $COLOR-White;
$TYPE-HeadingsColor:            $COLOR-Primary;
$TYPE-HeadingsAltColor:         $COLOR-White;

$TYPE-SIZE-XXXXL:               57;//
$TYPE-SIZE-XXXL:                32;//homepagestripe, category title, sidepanel price
$TYPE-SIZE-XXL:                 24;//listingpage above banner title, 
$TYPE-SIZE-XL:                  22;//
$TYPE-SIZE-L:                   18;//cta title+body, search input, product price, 
$TYPE-SIZE-M:                   15;//body, nav
$TYPE-SIZE-S:                   12;//upper nav, ticker, footer copyright
$TYPE-SIZE-XS:                  12;//
$TYPE-SIZE-XXS:                 12;//

// LINKS
// ----------------------------------------------------
$STYLE-LinkColor-Link:              $COLOR-Secondary;
$STYLE-LinkColor-Visited:           $STYLE-LinkColor-Link;
$STYLE-LinkColor-Hover:             $STYLE-LinkColor-Link;
$STYLE-LinkColor-Focus:             darken($STYLE-LinkColor-Link, 5);
$STYLE-LinkColor-Active:            darken($STYLE-LinkColor-Link, 10);

$STYLE-LinkAltColor-Link:           $COLOR-Primary;
$STYLE-LinkAltColor-Visited:        $STYLE-LinkAltColor-Link;
$STYLE-LinkAltColor-Hover:          $STYLE-LinkAltColor-Link;
$STYLE-LinkAltColor-Focus:          darken($STYLE-LinkAltColor-Link, 5);
$STYLE-LinkAltColor-Active:         darken($STYLE-LinkAltColor-Link, 10);

// Unique to GG variables:
// ANNIMATION CURVES for transition animation property
// ----------------------------------------------------
$ANIM-Menu:	        				0.2s cubic-bezier(0.4, 0, 0.2, 1);
$ANIM-Menu-alt:	        			0.2s cubic-bezier(0.4, 0, 0.2, 1);
$ANIM-Logo:	        				0.3s ease-out;
$ANIM-Foot:	        				0.3s ease-out;

// Unique to GG variables:
$PAGE-minheight:                    40vh;
$BrowserCutoff:                     60;

/// THEME COLOURS (use in 0-settings/_variables.scss template)
/// ----------------------------------------------------
/// Optional colour theming for body or modules
//
@import "themes";

/// COMPONENT Overrides
///
/// BUTTONS
// ----------------------------------------------------
$BUTTON-DisabledBgColor:            $COLOR-GG-GreyLighter;
$BUTTON-DisabledHoverBgColor:       darken($BUTTON-DisabledBgColor, 5%);
$BUTTON-DisabledTextColor:          $COLOR-GG-GreyDark;

$BUTTON-GENERATE-Altgr:             false;
$BUTTON-GENERATE-States:            true;
$BUTTON-GENERATE-Group:             false;
$BUTTON-GENERATE-ToTop:             false;
$BUTTON-GENERATE-MobileMainnav:     false;

// GRID
// ----------------------------------------------------
$GRID-MaxWidth:                     1140;

$GRID-GutterWidth:                  20;
$GRID-GutterWidth-Md:               15;
$GRID-GutterWidth-Sm:               10;
$GRID-GutterWidth-Lg:               50 - $GRID-GutterWidth;
$GRID-GutterWidth-Xl:               50;

$GRID-GutterHeight:                 $GRID-GutterWidth;
$GRID-GutterHeight-Md:              $GRID-GutterWidth-Md;
$GRID-GutterHeight-Sm:              $GRID-GutterWidth-Sm;
$GRID-GutterHeight-Lg:              $GRID-GutterWidth-Lg;
$GRID-GutterHeight-Xl:              $GRID-GutterWidth-Xl;

// BREAKPOINTS
// ----------------------------------------------------
$breakpoints: im-to-em(
    (
        'smallest': 340px,
        'small': 600px,
        'medium': 800px,
        'large': 980px,
        'gridmax': $GRID-MaxWidth * 1px,
        'larger': 1260px,
        'largest': 1900px,
        'menu-small': 400px,
        'menu-medium': 600px,
        'menu-large': 1058px,
        'menu-xlarge': 1124px
    )
);

/// Components, Systems & Modules
/// ----------------------------------------------------
$SYSTEM-FONTLOADER:                 true;

$COMPONENT-ACCORDION:               true;
$COMPONENT-ALERT:                   false;
$COMPONENT-ANGULAR:                 false;
$COMPONENT-ANIMATIONS:              false;
$COMPONENT-ANIMATIONS--example:     false;
$COMPONENT-ARTICLE:                 false;
$COMPONENT-BADGE:                   false;
$COMPONENT-BANNER:                  false;
$COMPONENT-BLURMASK:                false;
$COMPONENT-BOX:                     false;
$COMPONENT-BREADCRUMB:              false;
$COMPONENT-BROWSEHAPPY:             false;
$COMPONENT-BUTTON:                  true;
$COMPONENT-CARD:                    false;
$COMPONENT-CARDFADER:               false;
$COMPONENT-CARDSLIDER:              false;
$COMPONENT-CITE:                    false;
$COMPONENT-CREATOR:                 false;
$COMPONENT-FLASH:                   false;
$COMPONENT-FLEXGRID:                false;
$COMPONENT-FLIP:                    false;
$COMPONENT-FOCUS:                   false;
$COMPONENT-GRIDDER:                 false;
$COMPONENT-HOVERCARD:               false;
$COMPONENT-IDENT:                   false;
$COMPONENT-IMAGE:                   false;
$COMPONENT-INK:                     false;
$COMPONENT-LABEL:                   false;
$COMPONENT-LINKS:                   true;
$COMPONENT-LIST:                    false;
$COMPONENT-MAINNAV:                 true;
$COMPONENT-MAP:                     false;
$COMPONENT-MEDIA:                   false;
$COMPONENT-MENU:                    false;
$COMPONENT-MODAL:                   false;
$COMPONENT-MODELESS:                false;
$COMPONENT-NAV:                     false;
$COMPONENT-NAVLIST:                 false;
$COMPONENT-OVERLAY:                 false;
$COMPONENT-PAGE:                    false;
$COMPONENT-PAGINATION:              false;
$COMPONENT-PANEL:                   false;
$COMPONENT-PARALLAX:                false;
$COMPONENT-POLYFILL--objectfill:    false;
$COMPONENT-POPOVER:                 false;
$COMPONENT-RTE:                     false;
$COMPONENT-SCROLLBAR:               false;
$COMPONENT-SCROLLSPY:               false;
$COMPONENT-SECTION:                 false;
$COMPONENT-SIDEMENU:                false;
$COMPONENT-SLIDER:                  false;
$COMPONENT-STAGE:                   false;
$COMPONENT-STORY:                   false;
$COMPONENT-TABLE:                   false;
$COMPONENT-TABS:                    false;
$COMPONENT-TAGS:                    false;
$COMPONENT-TOAST--2:                false;
$COMPONENT-TOAST:                   false;
$COMPONENT-TOOLTIP:                 false;
$COMPONENT-TWITTER:                 false;
$COMPONENT-WELL:                    false;
$COMPONENT-WRAPS:                   false;

/// Utility classes
/// ----------------------------------------------------
$UTILITY-HELPERS-depth:             false;
$UTILITY-RESPONSIVE:                false;
$UTILITY-COLUMNS:                   false;
$UTILITY-PRETTYPRINT:               false;
