---
layout: L-brandon
title: Grid - Components
theme: theme2
---

<div class="o-body">
    <div class="o-sidenav">
        Title
        <ul class="">
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
        </ul>
    </div>
    <div class="o-siderelated">
        Related links
        <ul class="">
            <li>Page Title</li>
            <li>Page Title</li>
        </ul>
    </div>

    {% include brandon/o-breadcrumbs.html %}

    <div class="o-content">
        <h2>List of components (and layouts) to be created:</h2>

        <p>Screenshots of all pages and their modules is on Shared > Mark: <pre>L:\Mark\Dev\BrandonTrust\Screenshot of modules</pre></p>
        
        <p>The list:</p>
        <pre>{% include brandon/static/modules.html %}</pre>
    </div>
</div>
