---
layout: L-brandon
title: Grid - Homepage
---

<div class="o-banner c-banner">
    <div class="o-welcome">Welcome to Brandon...</div>
</div>

<div class="o-sections">
    <div class="o-cta">
        {% include brandon/c-cta.html %}
</div>
    <div class="o-cta">
        {% include brandon/c-cta.html %}
    </div>
    <div class="o-cta">
        {% include brandon/c-cta.html %}
    </div>
</div>

<div class="o-news">
    {% include brandon/o-newsfeature.html %}
    <div class="o-newslist c-newslist">
        <h3 class="c-newslist__title">Latest news and views</h3>
        {% include brandon/o-newslist.html %}
    </div>
</div>
