---
layout: L-brandon
title: Grid - Page
theme: theme1
---

<div class="o-body">
    <nav class="o-sidenav">
        Title
        <ul class="">
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
        </ul>
    </nav>
    <div class="o-siderelated">
        Related links
        <ul class="">
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
            <li>Page Title</li>
        </ul>
    </div>

    <div class="o-breadcrumbs">
        <ul class="o-l o-l--horizontal">
            <li>Breadcrumbs ></li>
            <li>Breadcrumbs ></li>
            <li>Breadcrumbs</li>
        </ul>
    </div>
    <div class="o-content">
        <h2>Page subtitle</h2>
        <p>We are going to borrow less from current Alloy, and borrow heavily from Heydon Pickering's <strong>Inclusive Components</strong> <a href="https://inclusive-components.design" rel="noopener" target="_blank">https://inclusive-components.design</a> because Brandon Trust site will aim for Level AA accessibility and use WCAG guidelines.</p>
        <p>Accordions and interactive components will use Inclusive Components as a guide first, so some HTML markup will be sparse</p>

        <hr>

        {% include c-accordion.html %}

        {% include c-cta--primary.html %}

        <hr>

        

    </div>
</div>
