<div class="o-g__full o-g__full--footer">
    <div class="o-g__outer o-footer">
        <div class="o-badge"><img src="http://pic.jcmserv3.net/80x39/43ba04/fff&text=DCE" width="80" height="39" alt="DCE" /></div>
        <div class="o-pagelist">
            <ul class="o-l o-l--horizontal">
                <li>Points of view</li>
                <li>Accessibility</li>
                <li>Privacy</li>
                <li>Terms</li>
                <li>Modern slavery statement</li>
                <li>Sitemap</li>
                <li>Our newsletter</li>
            </ul>
            Copyright © 2010 - 2018 Brandon Trust
        </div>
        <div class="o-copyright">
            Registered Charity number: 801571 | VAT registered number: 108262925<br />
            Company registered in England and Wales: 2365487
        </div>
    </div>
</div>
