/// <reference path="../main.scss" />

////
/// IMAGE
////

// VARIABLES
// ----------------------------------------------------
$IMAGE-BorderColor: $COLOR-Base;

@if $COMPONENT-IMAGE {

    // BASE
    // ----------------------------------------------------

    .image {
        //
    }

    // VARIANTS
    // ----------------------------------------------------

    .image--rounded {
        @include border-radius(10);
    }

    .image--circle {
        border-radius: 50%;
    }

    .image--bordered {
        border: 4px solid $IMAGE-BorderColor;

        @include box-sizing(border-box);
    }
}
