<body class="o-b t-pink">
    <section class="o-cookie c-cookie">
        <h3 id="o-cookie" class="c-cookie__title">Cookie Policy</h3>
        <div class="c-cookie__body">
            <p>THIS TEXT NEEDS TO BE CHANGED TO BE BROUGHT IN LINE WITH GDPR!</p>
            <p><a href="/cookie-policy/" title="View our cookie policy">Please read our cookie policy for more information</a></p>

            <form method="get" class="c-form c-form--cookie" data-ng-non-bindable>
                <button class="button" type="submit" name="acceptcookies" value="true">Accept cookies</button>
            </form>
        </div>
    </section>
    
    <ul class="o-l o-l--skiplinks">
        <li class="o-l__item"><a href="#main">Skip to main content</a></li>
        <li class="o-l__item"><a href="#navmain">Skip to main navigation</a></li>
        <li class="o-l__item"><a href="#navsecondary">Skip to secondary navigation</a></li>
        <li class="o-l__item"><a href="#sitesearch">Skip to site search</a></li>
    </ul>

    <div class="o-g o-g--page">

        <header class="o-g__full c-g--header">
            <div class="o-g__outer">
                <div class="g g--flex g--gutters o-header">
                    <div class="gc o-logo">
                        <a href="/"><img src="/Assets/img/brandon-trust.png" alt="" width="173" height="84" /><span class="sr">Brandon Trust - Live Free - the learning disability charity</span></a>
                    </div>

                    <div class="gc o-cta--donation">
                        <a class="c-cta c-cta--donation" href="/get-involved/fundraise-with-us/make-a-donation/" title="Go to Make a donation page">
                            <span>Donate</span>
                            <div class="c-cta__image"><img src="/Assets/img/make-a-donation.png" alt="Make a donation" width="106" height="104" /></div>
                        </a>
                    </div>

                    <div id="sitesearch" class="gc o-search" role="search">
                        <form action="/umbraco/Surface/SearchSurface/SubmitForm" class="c-form c-form--search" method="post">
                            <input id="Id" name="Id" type="hidden" value="c9772a54-35a7-487b-b67b-a6c12b2ddd51" />
                            <div class="c-form__row">
                                <label class="c-form__inputgroup">
                                    <span class="sr">Site search</span>
                                    <span class="c-form__inputwrap">
                                        <input class="c-form__input" id="Query" name="Query" placeholder="Search..." type="text" value="" />
                                    </span>
                                </label>
                                <button class="button" type="submit">
                                    <svg class="icon icon--search" aria-hidden="true">
                                        <use xlink:href="/Assets/img/symbols.svg#icon--search"></use>
                                    </svg>
                                    <span class="sr">Search site</span>
                                </button>
                            </div>
                            <div class="c-form__validation">
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="o-g__outer o-navcontrol o-navcontrol--main" data-ng-controller="nav.controller" data-ng-init="Init(1040)">
                <button class="button button--menu ng-cloak" data-ng-click="ToggleExpansion($event)" data-ng-if="IsMobile">
                    <span class="o-navcontrol__title">Main menu</span>
                    <svg class="icon icon--toggle{{IsAriaExpanded() ? ' active' : ' inactive'}}" aria-hidden="true">
                        <svg class="icon--down"><use xlink:href="/Assets/img/symbols.svg#icon--arrow-down"></use></svg>
                        <svg class="icon--up"><use xlink:href="/Assets/img/symbols.svg#icon--arrow-up"></use></svg>
                    </svg>
                </button>

                <nav aria-label="Main Navigation Menu" class="o-nav" id="navmain">
                    <ul class="nav nav--main" data-layout="topnav" data-ng-attr-aria-expanded="{{IsAriaExpanded() ? 'true' : 'false'}}">
                        <li class="nav__item" id="navprimary_top_level_link_id_1">
                            <a class="nav__link" href="/"><span class="icon"></span> <span class="nav__title">Home</span></a>
                        </li>
                        <li aria-controls="navprimary_subnav_id_2" aria-expanded="false" aria-haspopup="true" aria-owns="navprimary_subnav_id_2" class="nav__item" data-a11y-expander="1040" id="navprimary_top_level_link_id_2">
                            <a class="nav__link" href="/information-and-support/">Information and support</a>
                            <div aria-labelledby="navprimary_top_level_link_id_2" class="nav__submenu" id="navprimary_subnav_id_2" role="group">
                                <ul class="nav nav--sub">
                                    <li class="nav__item">
                                        <a class="nav__link" href="/information-and-support/looking-for-support/">Looking for support</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/information-and-support/children-and-young-people/">Children and young people</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/information-and-support/families/">Families</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/information-and-support/annual-survey/">Annual survey</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/information-and-support/about-learning-disabilities/">About learning disabilities</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/information-and-support/personal-safety/">Personal safety</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/information-and-support/hate-crime/">Hate crime</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/information-and-support/video-news/">Video news</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/information-and-support/our-cqc-ratings/">Our CQC ratings</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/information-and-support/jargon-buster/">Jargon buster</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/information-and-support/feedback/">Feedback</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li aria-controls="navprimary_subnav_id_3" aria-expanded="false" aria-haspopup="true" aria-owns="navprimary_subnav_id_3" class="nav__item" data-a11y-expander="1040" id="navprimary_top_level_link_id_3">
                            <a class="nav__link" href="/about-us/">About us</a>
                            <div aria-labelledby="navprimary_top_level_link_id_3" class="nav__submenu" id="navprimary_subnav_id_3" role="group">
                                <ul class="nav nav--sub">
                                    <li class="nav__item">
                                        <a class="nav__link" href="/about-us/our-people/">Our people</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/about-us/our-strategy/">Our strategy</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/about-us/feedback/">Feedback</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/about-us/our-vision/">Our vision</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/about-us/our-standards/">Our standards</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/about-us/our-values/">Our values</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/about-us/20th-anniversary-report/">20th Anniversary Report</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li aria-controls="navprimary_subnav_id_4" aria-expanded="false" aria-haspopup="true" aria-owns="navprimary_subnav_id_4" class="nav__item" data-a11y-expander="1040" id="navprimary_top_level_link_id_4">
                            <a class="nav__link" href="/get-involved/">Get involved</a>
                            <div aria-labelledby="navprimary_top_level_link_id_4" class="nav__submenu" id="navprimary_subnav_id_4" role="group">
                                <ul class="nav nav--sub">
                                    <li class="nav__item">
                                        <a class="nav__link" href="/get-involved/fundraise-with-us/">Fundraise with us</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/get-involved/our-charity-shops/">Our charity shops</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/get-involved/volunteering/">Volunteering</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/get-involved/our-events/">Our events</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li aria-controls="navprimary_subnav_id_5" aria-expanded="false" aria-haspopup="true" aria-owns="navprimary_subnav_id_5" class="nav__item" data-a11y-expander="1040" id="navprimary_top_level_link_id_5">
                            <a class="nav__link" href="/news/">News</a>
                            <div aria-labelledby="navprimary_top_level_link_id_5" class="nav__submenu" id="navprimary_subnav_id_5" role="group">
                                <ul class="nav nav--sub">
                                    <li class="nav__item">
                                        <a class="nav__link" href="/points-of-view/">Points of View</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li aria-controls="navprimary_subnav_id_6" aria-expanded="false" aria-haspopup="true" aria-owns="navprimary_subnav_id_6" class="nav__item" data-a11y-expander="1040" id="navprimary_top_level_link_id_6">
                            <a class="nav__link" href="/professionals/">Professionals</a>
                            <div aria-labelledby="navprimary_top_level_link_id_6" class="nav__submenu" id="navprimary_subnav_id_6" role="group">
                                <ul class="nav nav--sub">
                                    <li class="nav__item">
                                        <a class="nav__link" href="/professionals/direct-payments/">Direct Payments</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/professionals/our-vision/">Our Vision</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li aria-controls="navprimary_subnav_id_7" aria-expanded="false" aria-haspopup="true" aria-owns="navprimary_subnav_id_7" class="nav__item" data-a11y-expander="1040" id="navprimary_top_level_link_id_7">
                            <a class="nav__link" href="/jobs-with-us/">Jobs with us</a>
                            <div aria-labelledby="navprimary_top_level_link_id_7" class="nav__submenu" id="navprimary_subnav_id_7" role="group">
                                <ul class="nav nav--sub">
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/why-join-us/">Why join us</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/the-benefits/">The benefits</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/learning-and-development/">Learning and development</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/being-a-support-worker/">Being a support worker</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/casual-bank-work/">Casual bank work</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/being-a-play-worker/">Being a play worker</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/our-stories/">Our stories</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/professionals-and-specialist-interest-areas/">Professionals and specialist interest areas</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/office-based-opportunities/">Office-based opportunities</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/our-locations/">Our locations</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/applying-for-jobs-with-us/">Applying for jobs with us</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/recruitment-open-days/">Recruitment open days</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="/jobs-with-us/apprenticeships/">Apprenticeships</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav__item" id="navprimary_top_level_link_id_8">
                            <a class="nav__link" href="/get-in-touch/">Get in touch</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="o-g__full c-g--a11y">
            <div class="o-g__outer c-a11y">
                <div class="c-a11y__controls">
                    <span id="a11y-size">Text size</span>
                    <ul class="o-l o-l--h o-l--ally" aria-labelledby="a11y-size">
                        <li class="o-l__item">
                            <button class="c-switch" data-ng-click="ResetFontSize($event)" title="Reset font size">
                                <svg class="icon" aria-hidden="true"><use xlink:href="/Assets/img/symbols.svg#icon--reset"></use></svg>
                                <span class="sr">Reset font size</span>
                            </button>
                        </li>
                        <li class="o-l__item">
                            <button class="c-switch" data-ng-click="DecreaseFontSize($event)" title="Decrease font size">
                                <svg class="icon" aria-hidden="true"><use xlink:href="/Assets/img/symbols.svg#icon--smalla"></use></svg>
                                <span class="sr">Decrease font size</span>
                            </button>
                        </li>
                        <li class="o-l__item">
                            <button class="c-switch" data-ng-click="IncreaseFontSize($event)" title="Increase font size">
                                <svg class="icon" aria-hidden="true"><use xlink:href="/Assets/img/symbols.svg#icon--biga"></use></svg>
                                <span class="sr">Increase font size</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="c-a11y__controls">
                    <span id="a11y-contrast">Contrast</span>
                    <ul class="o-l o-l--h o-l--ally" aria-labelledby="a11y-contrast">
                        <li class="o-l__item">
                            <button class="c-switch" data-ng-click="ChangeTheme($event, THEMES.Default)" title="Default contrast">
                                <svg class="icon icon--contrast" aria-hidden="true"><use xlink:href="/Assets/img/symbols.svg#icon--contrast"></use></svg>
                                <span class="sr">Default contrast</span>
                            </button>
                        </li>
                        <li class="o-l__item">
                            <button class="c-switch" data-ng-click="ChangeTheme($event, THEMES.Ally1)" title="High Contrast">
                                <svg class="icon icon--highcontrast" aria-hidden="true"><use xlink:href="/Assets/img/symbols.svg#icon--contrast"></use></svg>
                                <span class="sr">High Contrast</span>
                            </button>
                        </li>
                        <li class="o-l__item">
                            <button class="c-switch" data-ng-click="ChangeTheme($event, THEMES.Ally2)" title="Blue &amp; Black Contrast">
                                <svg class="icon icon--blueblackcontrast" aria-hidden="true"><use xlink:href="/Assets/img/symbols.svg#icon--contrast"></use></svg>
                                <span class="sr">Blue &amp; Black Contrast</span>
                            </button>
                        </li>
                        <li class="o-l__item">
                            <button class="c-switch" data-ng-click="ChangeTheme($event, THEMES.Ally3)" title="Cream &amp; Black Contrast">
                                <svg class="icon icon--creamblackcontrast" aria-hidden="true"><use xlink:href="/Assets/img/symbols.svg#icon--contrast"></use></svg>
                                <span class="sr">Cream &amp; Black Contrast</span>
                            </button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="o-g__outer o-page o-page--sidenav">
            <div class="o-sidenav" data-layout="widgetlist">

                <nav id="navsecondary" class="c-sidenav" aria-label="Secondary Navigation" data-layout="sidenav" data-ng-controller="nav.controller" data-ng-init="Init(800)">

                    <div class="o-navcontrol o-navcontrol--side">
                        <h2 class="c-sidenav__title"><a href="/about-us/" class="nav__link">About us</a></h2>
                        <button class="button button--menu ng-cloak" data-ng-click="ToggleExpansion($event)" data-ng-if="IsMobile">
                            <span class="sr">Expand secondary navigation</span>
                            <svg class="icon icon--toggle{{IsAriaExpanded() ? ' active' : ' inactive'}}" aria-hidden="true">
                                <svg class="icon--down"><use xlink:href="/Assets/img/symbols.svg#icon--arrow-down"></use></svg>
                                <svg class="icon--up"><use xlink:href="/Assets/img/symbols.svg#icon--arrow-up"></use></svg>
                            </svg>
                        </button>
                    </div>

                    <ul class="nav nav--sub" data-ng-attr-aria-expanded="{{IsAriaExpanded() ? 'true' : 'false'}}">
                        <li class="nav__item">
                            <a class="nav__link" href="/about-us/our-people/">Our people</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/about-us/our-strategy/">Our strategy</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/about-us/feedback/">Feedback</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/about-us/our-vision/">Our vision</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/about-us/our-standards/">Our standards</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/about-us/our-values/">Our values</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/about-us/20th-anniversary-report/">20th Anniversary Report</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="o-body">

                <nav class="nav nav--breadcrumbs" aria-label="Breadcrumb links - You are here">
                    <a href="/" class="nav__link">Home</a>
                    <svg class="icon icon--arrow" aria-hidden="true"><use xlink:href="/assets/img/symbols.svg#icon--arrow-right"></use></svg>
                    <span aria-current="page">About us</span>
                </nav>

                <main id="main" class="o-main">

                    <article class="o-main__article" data-layout="ModularPage">
                        <h1 class="o-main__title">About us</h1>
                        <div class="pageWysiwygBlock mceContentBody">
                            <div>
                                <div class=''></div>
                                <div class='pageWysiwygBlock mceContentBody'>
                                    <p>Brandon Trust was formed in 1994 by the merger of the Buttress Trust and the South Avon Housing Association.</p>
                                    <p>To see a potted history of Brandon Trust, <a href="/old_media/61161/20th-anniversary-infographic.pdf" title="20th anniversary infographic">take a look at our historical infographic (pdf)</a> showing how far we've come over the past 20 years.</p>
                                    <p><img alt="20th Anniversary Infographic" height="274" rel="1024,722" src="/old_media/56626/20th-anniversary-infographic.jpg?width=386&height=274&mode=crop" style="display: block; margin-left: auto; margin-right: auto;" title="20th Anniversary Infographic" width="386"> <strong style="line-height: 1.42857em;"></strong></p>
                                    <p>Today, Brandon Trust is a UK charity working across Southern England including London, supporting approximately 1,600 children and adults with learning disabilities and autism.</p>
                                    <p>Latest figures suggest there are 1.5 million people* with learning disabilities living in the UK. Despite significant developments in the last 20 years, people with learning disabilities are still restricted by many aspects of the modern world; less than 7% of them for example have a job**.</p>
                                    <p>At Brandon Trust we’re striving to change this. We inspire the people we support to set themselves free so they can reach for their dreams and be all they can be.</p>
                                    <p>We have a wealth of experience in working with people with complex needs whose behaviour can sometimes challenge the environment in which they live, or with profound and multiple learning disabilities.</p>
                                    <p>We're looking forward to how, in partnership with the people we support, we can shape the future for people with learning disabilities. We’re striving to build a connected society by:</p>
                                    <ol>
                                        <li>Ensuring people we support are connected in their community and wider society.</li>
                                        <li>Encouraging and equipping more people we support to live in their own homes.</li>
                                        <li>Ensuring that everyone with a learning disability has the right and the capacity to have their voice heard.</li>
                                    </ol>
                                    <p><em>* Figures from NHS.uk 14th October 2014</em></p>
                                    <p><em>** Figures from www.improvinghealthandlives.org.uk</em></p>
                                </div>
                            </div>
                        </div>
                    </article>

                </main>

            </div>
        </div>

        <div class="o-g__full c-g--twitter">
            <div class="o-g__outer">
                <div class="g g--gutters o-twitter">

                    <section class="gc o-tweet">
                        <h3 class="sr">Brandon Trust Twitter feed</h3>
                        <div class="c-tweet">
                            <div class="c-tweet__icon">
                                <img src="/assets/img/twitter_bird.png" alt="Tweet" />
                            </div>
                            <div class="c-tweet__feed" data-tweetloader="'BrandonTrust'" data-template-url="'/ngtemplates/tweets.html'" data-amount="1"></div>
                        </div>
                    </section>

                    <div class="gc o-cta o-cta--newsletter">
                        <a class="c-cta c-cta--newsletter" href="/our-newsletter/">
                            <span>Newsletter Sign Up</span>
                            <img class="c-cta__image" src="/Assets/img/newsletter.png" alt="" />
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <section class="o-g__outer">
            <div class="g g--gutters o-contactinfo">

                <div class="gc o-contact">
                    <h3 class="sr">Contact Information</h3>
                    <dl class="o-dl o-dl--contact">
                        <dt class="o-dl__term"><span class="icon-s icon--email"></span>Email</dt>
                        <dd class="o-dl__desc">
                            <a href="mailto:info@brandontrust.org">info@brandontrust.org</a>
                        </dd>
                    </dl>
                    <dl class="o-dl o-dl--contact">
                        <dt class="o-dl__term"><span class="icon-s icon--telephone"></span>Telephone</dt>
                        <dd class="o-dl__desc">
                            <a href="tel:01179077200">0117 907 7200</a>
                        </dd>
                    </dl>
                    <dl class="o-dl o-dl--contact">
                        <dt class="o-dl__term"><span class="icon-s icon--minicom"></span>Minicom</dt>
                        <dd class="o-dl__desc">
                            <span>0117 931 5000</span>
                        </dd>
                    </dl>
                </div>

                <div class="gc o-social">
                    <ul class="o-l o-l--h o-l--social">
                        <li class="o-l__item">
                            <a href="https://www.instagram.com/brandontrust/" target="_blank" rel="noopener">
                                <span class="icon-s icon--instagram"></span><span class="sr">Instagram</span>
                                <span class="sr sr--nw">Opens in new window </span>
                            </a>
                        </li>
                        <li class="o-l__item">
                            <a href="https://www.facebook.com/brandontrust" target="_blank" rel="noopener">
                                <span class="icon-s icon--facebook"></span><span class="sr">Facebook</span>
                                <span class="sr sr--nw">Opens in new window </span>
                            </a>
                        </li>
                        <li class="o-l__item">
                            <a href="https://twitter.com/BrandonTrust" target="_blank" rel="noopener">
                                <span class="icon-s icon--twitter"></span><span class="sr">Twitter</span>
                                <span class="sr sr--nw">Opens in new window </span>
                            </a>
                        </li>
                        <li class="o-l__item">
                            <a href="https://www.youtube.com/TheBrandonTrust" target="_blank" rel="noopener">
                                <span class="icon-s icon--youtube"></span><span class="sr">YouTube</span>
                                <span class="sr sr--nw">Opens in new window </span>
                            </a>
                        </li>
                        <li class="o-l__item">
                            <a href="https://www.linkedin.com/company-beta/708027/" target="_blank" rel="noopener">
                                <span class="icon-s icon--linkedin"></span><span class="sr">LinkedIn</span>
                                <span class="sr sr--nw">Opens in new window </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <footer class="o-g__full c-g--footer">
            <div class="o-g__outer">
                <div class="g g__sm--1 g__md--1 g--gutters o-footer">

                    <div class="gc o-footlinks">
                        <nav aria-label="Tiertiary Navigation">
                            <ul class="nav nav--footlinks" data-layout="footernav">
                                <li class="nav__item">
                                    <a href="/accessibility/">Accessibility</a>
                                </li>
                                <li class="nav__item">
                                    <a href="/privacy/">Privacy</a>
                                </li>
                                <li class="nav__item">
                                    <a href="/terms/">Terms</a>
                                </li>
                                <li class="nav__item">
                                    <a href="/modern-slavery-statement/">Modern Slavery Statement</a>
                                </li>
                                <li class="nav__item">
                                    <a href="/sitemap/">Sitemap</a>
                                </li>
                                <li class="nav__item">
                                    <a href="/our-newsletter/">Our newsletter</a>
                                </li>
                                <li class="nav__item">
                                    <a href="/staff-links/">Staff Links</a>
                                </li>
                                <li class="nav__item">
                                    <a href="/modules/">Modules</a>
                                </li>
                            </ul>
                        </nav>

                        <p class="o-copyright">Copyright &copy; 2010 - 2018 Brandon Trust</p>
                    </div>

                    <div class="gc o-badge">
                        <div><img src="/Assets/img/positive.png" alt="Disability Confident Employer" /></div>
                    </div>

                    <div class="gc o-legal">
                        <p>Registered Charity number: 801571 | VAT registered number: 108262925
                            <br /> Company registered in England and Wales: 2365487</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
