<!doctype html>
<html class="no-js" lang="en-GB">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="High compatibility HTML5 template">
	<meta name="author" content="JamCow">

	<title>{{ page.title }}</title>
	{% if page.cssfile %}
	<link href="{{ page.cssfile }}" rel="stylesheet" media="all" />
	{% else %}
	<link href="/assets/css/main.css" rel="stylesheet" media="all" />
	{% endif %}
	<style type="text/css" media="screen">

	</style>
	
</head>

<body>

{{ content }}

</body>

</html>