<!doctype html>
<html class="no-js" lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>

  {% if page.cssfile %}
  <link href="{{ page.cssfile }}" rel="stylesheet" media="all" />
  {% else %}
  <link href="/example1/assets/css/main.css" rel="stylesheet" media="screen" />
  {% endif %}

  <style type="text/css" media="screen">
  </style>
</head>

<body>

  <div class="o-grid o-grid--pva">

    {% if page.title contains "Homepage" %}
      {% include example1/hero.html %}
    {% endif %}

    <main id="content" class="o-main">
    
      {{ content }}

    </main>

  </div>
  
</body>

</html>