<!doctype html>
<html class="no-js" lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- , shrink-to-fit=no -->
  <title>{{ page.title }}</title>
  {% if page.cssfile %}
  <link href="{{ page.cssfile }}" rel="stylesheet" media="all" />
  {% else %}
  <link href="/svgtest/assets/css/main.css" rel="stylesheet" media="all" />
  {% endif %}
  <style type="text/css" media="screen">

  </style>
</head>

<body>

{{ content }}

</body>

</html>