:: composite modules
banner
    banner controller
    banner inset image
    banner welcome
    banner cta link

:: footer
cta newsletter (footer)
list contact details (footer)
list secondary pages (footer)
list social media links (footer)
latest tweet (footer)

:: header
dynamic a11y controller
header
    header logo
    header search
    header cta donate

:: navigation
navigation (primary)
navigation (section content, multi-level)
navigation (related internal)
navigation (related external)

:: page modules
cta primary links (homepage, jobs with us)
breadcrumbs
person card (trustee)
accordion
video
list values (aligned image in two column content)
list contact details with icons
list categories with images
list in-page links
list of images (eg, hate crime)
cta image links (make a monthly/single donation x2)
donate card ("other ways to donte")
quotes (eg, corporate volunteering)
resource link with image (eg, staying safe PDFs)
joblist card ("search jobs and apply")
list latest news (homepage)
news featured article (homepage)
news featured article expanded (jobs with us)
news banner article (news)
heading banner x2 (eg, jobs with us > learning and development, jobs with us benefits)
map image (? jobs with us > locations)
list newscards small
news cards small (yearly)
list newscards medium
news cards medium (monthly)
form newsletter subscription
list points of view
points of view card
search results
search result item
search results pagination
sitemap (formatted xml?)

layout
    layout homepage
    layout jobs with us
    layout page 1/4 + 3/4
    layout page 3/4 (privacy page)
    layout page 4/4 (ironically a11y page - should be smaller due to A11y guidelines)
    news banner
    funky 4/4 but restricted (career pathways - body should be constricted but iframe not)

page body
    article figure
        single central image
        image group (2, 3, 4)
    two column content
        will need to be able to position smaller images L/R/U/D
    iframe (donation, jargon buster, career pathways)

page theme
    teal (default)
    green (get involved)
    orange (jobs with us)

:: Site dimensions
current 960px
new: 320 x 400% = 1280px
left nav: 260px
main content: 1280 - 260 = 1020

:: thoughts
hotjar on brandon - ineraction with banner, transistion to new site comparison
