/// <reference path="../main.scss" />

////
/// LOGO
////

/// VARIABLES
/// ----------------------------------------------------

// logo sizes
// desktop stuck: 65 (76 x 30)
// desktop:      122 (197 x 74)

// mobile stuck:  52 (76 x 30)
// mobile:       81 (135 x 40)

/// BASE
/// ----------------------------------------------------

.c-logo {
    position: relative;
    width: 100%;
    height: 100%;
    // height: 0;
    // @include responsive-ratio(197,74);

    // Fixes IE10 and Safari <10
    .is-stuck & {
        @include media(screen, "<=menu-large") {
            min-height: 40px;
        }

        @include media(screen, ">menu-large") {
            min-height: 43px;
        }
    }

    @include media(screen, "<=menu-large") {
        min-height: 43px;
    }

    @include media(screen, ">menu-large") {
        min-height: 80px;
    }
}

.c-logo__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin logo-tab--mid {
    .ggIcon {
        transform: translate(-0.9%, -2.4%) scale(1.06);
    }

    .ggTab-large {
        transform: scale(0.97, 0.7);
        opacity: 0;
    }

    .ggTab-small {
        transform: scale(1);
        opacity: 1;
    }

    .ggShop {
        transform: translate(0, -21.7%) scale(1);
        opacity: 0;
    }

    .ggTitle,
    .ggTagline {
        opacity: 0;
    }

    .ggTitle--small,
    .ggShop--small {
        opacity: 1;
    }
}

@mixin logo-tab--large {
    .ggShop {
        // transform: translate(0, 0) scale(1);
        opacity: 0.5;
    }

    .ggIcon {
        transform: translate(0, 0) scale(1);
    }

    .ggTab-large {
        transform: rotateY(0) scale(1);
        opacity: 1;
    }

    .ggTab-small {
        transform: scale(0.97, 0.7);
        opacity: 0;
    }

    .ggTitle,
    .ggTagline {
        opacity: 1;
    }

    .ggTitle--small,
    .ggShop--small {
        opacity: 0;
    }
}

@mixin logo-tab--sm {
    .ggShop {
        transform: translate(-4%, 62.9%) scale(2.22);
        opacity: 1;
    }

    .ggIcon {
        transform: translate(-13.2%, -36.3%) scale(3.11);
    }

    .ggTab-large {
        transform-origin: left center;
        transform: rotateY(70deg) scale(0.1);
        opacity: 0;
    }

    .ggTab-small {
        transform-origin: left center;
        transform: scale(0.1, 0.7);
        opacity: 0;
    }

    .ggTitle,
    .ggTagline,
    .ggTitle--small,
    .ggShop--small {
        opacity: 0;
    }
}

/// Header can be stuck to the top of the page, it's status depends how the logo looks/animates
.c-logo {
    // Initial
    .ggShop,
    .ggIcon,
    .ggTab-large,
    .ggTab-small,
    .ggTitle,
    .ggTagline {
        // As instructed by GG - they don't want transitioning logo
        // transition: all 0.3s ease-out;
        transition: none;
        transform-style: preserve-3d;
    }

    .ggShop {
        transform-origin: bottom right;
    }

    .ggIcon {
        transform-origin: top left;
    }

    .ggTab-large,
    .ggTab-small {
        transform-origin: top center;
    }

    &:hover,
    .is-stuck & {
        @include media(screen, "<=menu-large") {
            @include logo-tab--sm;
        }

        @include media(screen, ">menu-large") {
            @include logo-tab--sm;
        }
    }

    @include media(screen, "<=menu-large") {
        @include logo-tab--mid;
    }

    @include media(screen, ">menu-large") {
        @include logo-tab--large;
    }
}

$ANIM-Logo:	        				0.3s ease-out;
$O-HEADER__LOGO-width:                  200px;
$O-HEADER__LOGO-width--sm:              136px;

/// BASE
/// ----------------------------------------------------

.o-header__logo {
    display: flex;
    flex: 0 0 $O-HEADER__LOGO-width--sm;
    max-width: $O-HEADER__LOGO-width--sm;
    align-items: center;
    padding-left: 20px;
    margin-right: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: all $ANIM-Logo;
    // Keep on top of navigation when header is stuck
    z-index: $Z-INDEX-Level2;

    @include media(screen, ">menu-large") {
        flex: 0 0 $O-HEADER__LOGO-width;
        max-width: $O-HEADER__LOGO-width;
        transition: all $ANIM-Logo;
    }

    &:hover,
    .is-stuck & {
        flex: 0 0 $O-HEADER__LOGO-width--sm;
        max-width: $O-HEADER__LOGO-width--sm;
        transition: all $ANIM-Logo;
    }
}

// VARIANTS
// ----------------------------------------------------

.c-logo__img--compact {
    @include logo-tab--mid;
}

// RESPONSIVE
// ----------------------------------------------------

@include media(screen, "<=small") {
    //
}

@include media(screen, ">small", "<=medium") {
    //
}

@include media(screen, ">medium", "<=large") {
    //
}
